In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data.csv', encoding='utf-8')

In [3]:
len(df)

1009

In [7]:
import re

def normalize(text):
    text = text.lower()
    text = re.sub('[-\:|\!?,\(\)\.\"]', ' ', text)
    text = re.sub('\s{2,}', ' ', text)
    return text.strip()

In [5]:
df.head()

          author                                      title
0     Tony Buzan  Tony Buzan - Cải Thiện Năng Lực Trí Não 1
1  Vũ Thành Vinh                     Sự Sống Giá Bao Nhiêu?
2  Lưu Đình Long                         Như Mây Thong Dong
3  Thích Nhật Từ                          Tháo Dây Oan Trái
4  Mary Albright                      Cạm Bẫy Trong Quản Lý

In [6]:
df['author'] = df['author'].apply(lambda x: normalize(x))
df['title'] = df['title'].apply(lambda x: normalize(x))

In [18]:
from vietnam_number import n2w

def convert_special_token_to_normal(text):
    
    text = text.lower()
    
    text = re.sub('[-\:|\!?,\(\)\.\"]', ' ', text)
    words = text.split()
    for i in range(len(words)):
        if words[i].isnumeric():
            words[i] = n2w(words[i])
    
    text = ' '.join(words)
    
    text = re.sub('\s{2,}', ' ', text)
    
    return text.strip()

In [9]:
convert_special_token_to_normal('sáng tạo vô biên phải điên mới chất! 22')

'sáng tạo vô biên phải điên mới chất hai mươi hai'

In [16]:
with open('./playlists.txt', 'r', encoding='utf-8') as f:
    playlists = [normalize(line.strip()) for line in f.readlines()]
    
print(len(playlists))

# playlists = list(set(playlists))

print(len(playlists))

1332
1332

In [12]:
with open('./playlists.txt', 'w', encoding='utf-8') as f:
    for pl in playlists:
        if pl:
            f.writelines(pl + '\n')

In [20]:
playlists_norm = []
with open('./playlists_norm.txt', 'w', encoding='utf-8') as f:
    for pl in playlists:
        if pl:
            playlists_norm.append(convert_special_token_to_normal(pl))
            f.writelines(convert_special_token_to_normal(pl) + '\n')

In [21]:
all_playlist = playlists + playlists_norm
print(len(all_playlist))

all_playlist = list(set(all_playlist))
print(len(all_playlist))

2664
1549

In [23]:
with open('./all_playlists.txt', 'w', encoding='utf-8') as f:
    for pl in all_playlist:
        f.writelines(pl + '\n')